<div class="row">
  <div class="col-md-6 login_form">
    <nb-card accent="warning" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xlarge">
      <nb-card-header>Login Form</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 form-control-label">Email</label>
            <div class="col-sm-9">
              <input type="email" #email class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 form-control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" #password class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <!-- <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox">
                <nb-checkbox>Remember me</nb-checkbox>
              </div>
            </div>
          </div> -->
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" (click)="submit(email.value, password.value)" class="btn btn-warning sign-in">Sign in</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>