  <div class="row">

        <div class="col-xxxl-12 col-md-6">
          <nb-card accent="warning">
            <nb-card-header>
                Registration Message
            </nb-card-header>
            <nb-card-body>
              <textarea  nbInput [(ngModel)]="msg.reg_msg" status="success" fullWidth>
              </textarea>
            </nb-card-body>
          </nb-card>
        </div>


        <!-- <div class="col-xxxl-12 col-md-6">
            <nb-card accent="warning">
              <nb-card-header>
                 Bill Message
              </nb-card-header>
              <nb-card-body>
                <textarea nbInput [(ngModel)]="msg.bill_msg" status="success" fullWidth>
                </textarea>
              </nb-card-body>
            </nb-card>
          </div> -->



          <!-- <div class="col-xxxl-12 col-md-6">
              <nb-card accent="warning">
                <nb-card-header>
                   Appointment Message
                </nb-card-header>
                <nb-card-body>
                  <textarea  nbInput [(ngModel)]="msg.appt_msg" status="success" fullWidth>
                  </textarea>
                </nb-card-body>
              </nb-card>
          </div> -->

          <div class="col-xxxl-12 col-md-12">
            <button nbButton (click)="updateMsg()">Update</button>
          </div>
  </div>
 
