<nb-card>
  <nb-card-header>
    <div class="float-left">
      <div class="row">
        <div class="col-md-5">
           <span [ngStyle]="{'vertical-align' : '-webkit-baseline-middle'}">Sales</span>
        </div>
        <div class="col-md-4">
          <button size="xsmall" status="success" [disabled]="saleData.length == 0" (click)="export(fd.value, td.value)" nbButton>EXPORT</button>
        </div>
      </div>
     
    </div>
    <div class="float-right">
      <div class="row">
        <div class="col-md-5">
          <input [nbDatepicker]="fromDate" #fd [ngStyle]="{'padding-top': '0.5em'}" placeholder="From" class="border border-success">
          <nb-datepicker #fromDate format="MM/dd/yyyy"></nb-datepicker>
        </div>

        <div class="col-md-5">
          <input [nbDatepicker]="toDate" #td [ngStyle]="{'padding-top': '0.5em'}" placeholder="To" class="border border-success">
          <nb-datepicker #toDate format="MM/dd/yyyy"></nb-datepicker>
        </div>

        <div class="col-md-2">
          <button size="xsmall" status="success" (click)="go(fd.value, td.value)" nbButton>GO</button>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="bg-white text-dark">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr.N.</th>
          <th>Customer Name</th>
          <th>Customer Mob</th>
          <th>Service Taken</th>
          <th>Cost Price</th>
          <th>Discount</th>
          <th>Payment Mode</th>
          <th>Amount Receive</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of saleData;let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ sale.customer_name }}</td>
          <td>{{ sale.customer_mob }}</td>
          <td>{{ sale.service_taken }}</td>
          <td>{{ sale.cost_price }}</td>
          <td>{{ sale.discount }}</td>
          <td>{{ sale.payment_mode }}</td>
          <td>{{ sale.amount_receive }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>