<nb-card>
    <nb-card-header>
      <div class="float-left">
        <div class="row">
          <div class="col-md-7">
             <span [ngStyle]="{'vertical-align' : '-webkit-baseline-middle'}">Appointment</span>
          </div>
          <div class="col-md-4">
            <button size="xsmall" status="success" [disabled]="appointmentData.length == 0" (click)="export(fd.value, td.value)" nbButton>EXPORT</button>
          </div>
        </div>
       
      </div>
      <div class="float-right">
        <div class="row">
          <div class="col-md-5">
            <input [nbDatepicker]="fromDate" #fd [ngStyle]="{'padding-top': '0.5em'}" placeholder="From" class="border border-success">
            <nb-datepicker #fromDate format="MM/dd/yyyy"></nb-datepicker>
          </div>
  
          <div class="col-md-5">
            <input [nbDatepicker]="toDate" #td [ngStyle]="{'padding-top': '0.5em'}" placeholder="To" class="border border-success">
            <nb-datepicker #toDate format="MM/dd/yyyy"></nb-datepicker>
          </div>
  
          <div class="col-md-2">
            <button size="xsmall" status="success" (click)="go(fd.value, td.value)" nbButton>GO</button>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body class="bg-white text-dark">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr.N.</th>
            <th>Customer Name</th>
            <th>Customer Mob</th>
            <th>Service Offered</th>
            <th>Service Price</th>
            <th>Staff Name</th>
            <th>Book Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointmentData;let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ appointment.customer_name }}</td>
            <td>{{ appointment.customer_mob }}</td>
            <td>{{ appointment.service_name }}</td>
            <td>{{ appointment.service_price }}</td>
            <td>{{ appointment.staff_name }}</td>
            <td>{{ appointment.created_at }}</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>