 nb-card {
    flex: 1 1 45%;
    margin: 0 2.5%;
  
    &.own-scroll {
      height: 30rem;
    }
}
 nb-card ::-webkit-scrollbar-thumb {
    background: #ff386a;
 }

 nb-card .food-cat-btn {
  width: stretch;
  min-height: 80px;
  white-space: normal;
  cursor: pointer;
  font-size: 0.85em;
  word-break: break-word;
  letter-spacing: inherit;
  line-height: 1.3em;
  padding: 0 5px;
  font-weight: 500;
  font-family: sans-serif;
 }

 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;

 }

 .footer button  {
    cursor: pointer;
    white-space: normal;
    width: 115px;
    height: 55px;
    text-align: center;
    font-size: 0.9em;
    margin-left: 13px;
 }

 .footer input[type="button"] {
  width: 13em;
  height: 55px;
  text-align: center;
  font-size: 1em;
  margin-left: 10px;
 }

 nb-actions nb-action:not(:first-child) {
   border-left: 2px solid #a1a1e5;
}

nb-actions nb-action i {
  cursor: pointer;
}

.searched-customer-list {
  position: absolute;
  width: 87%;
  z-index: 999;
  margin-top: 0.3em;
}

nb-action {
  margin-bottom: 7px;
}

input {
  margin-top: -7px;
}

.disabled {
  pointer-events: none;
}

