<div class="row" style="margin-bottom: 1em">
    <div class="col-md-4">
        <nb-card accent="warning">
            <nb-card-body>
                <nb-actions>
                    <nb-action><input nbInput #searchItem name="searchItem" (keyup)="searchFoodItemsByName(searchItem.value)" placeholder="Search Items..."></nb-action>
                    <nb-action><i (click)="openAddItemModal()" class="fa fa-plus" aria-hidden="true"></i></nb-action>
                </nb-actions>
            </nb-card-body>
        </nb-card>

        <nb-card *ngIf="filteredFoodItemsList?.length > 0" size="small" class="searched-customer-list" [style.max-height.px]="230">
                <nb-list>
                  <nb-list-item (click)="selectFoodItemFromSearchFilter(filterItem)" [ngStyle]="{'cursor':'pointer'}" *ngFor="let filterItem of filteredFoodItemsList">
                      <h6>{{ filterItem.name }}</h6>
                  </nb-list-item>
                </nb-list>
        </nb-card>

    </div>

    <div class="col-md-4">
        <nb-card accent="info">
            <nb-card-body>
                <nb-actions *ngIf="!isSelectCustomer; else selectedCust">
                        <nb-action><input #searchCust (keyup)="searchCustomer(searchCust.value)" nbInput placeholder="Search Customer..."></nb-action>
                        <nb-action><i (click)="openAddCustomerModal()" class="fa fa-user-plus" aria-hidden="true"></i></nb-action>
                </nb-actions>
                <ng-template #selectedCust>
                    <nb-actions>
                        <nb-action><input nbInput [value]="selectedCustomerData.name"></nb-action> 
                        <nb-action><i (click)="removeSelectedCustomer()" class="fa fa-times" aria-hidden="true"></i></nb-action>
                    </nb-actions>
                </ng-template>
            </nb-card-body>
        </nb-card>

        <nb-card *ngIf="filteredCustomerList?.length > 0" size="small" class="searched-customer-list" [style.max-height.px]="230">
            <nb-list>
              <nb-list-item (click)="selectCustomerFromSearchFilter(filterCust)" [ngStyle]="{'cursor':'pointer'}" *ngFor="let filterCust of filteredCustomerList">
                  <h6>{{ filterCust.name }}</h6>
                  <p>Mob - {{ filterCust.mob }}</p>
                  <p>Email - {{ filterCust.email }}</p>
              </nb-list-item>
            </nb-list>
        </nb-card>
    </div>

    <div class="col-md-4">
        <nb-card accent="success">
            <nb-card-body>
                <nb-actions>
                    <nb-action><input nbInput placeholder="Search Attendant..."></nb-action>
                </nb-actions>
            </nb-card-body>
        </nb-card>
    </div>

</div>

<div class="row">

    <!-- Footer Category Start  -->
  <div class="col-md-2">

      <nb-card [size]="'small'" accent="danger" class="own-scroll">
          <nb-card-header>
            Category
          </nb-card-header>
          <nb-list>
              <nb-list-item *ngFor="let f_cat of food_cat_lists">
                  <button (click)="getFoodItemsByFoodCatId(f_cat.id)" class="food-cat-btn" nbButton outline status="success">{{f_cat.name}}</button>
            </nb-list-item>
          </nb-list>
        </nb-card>

  </div>

  <!-- Food Category End -->


  <!-- Food Items Start -->

  <div class="col-md-5">

    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success" [size]="'small'" accent="danger" class="own-scroll">
        <nb-card-header>
           Service Items
        </nb-card-header>
        <nb-card-body class="row">
            <div class="col-md-4" *ngFor="let f_item of food_items ">
                <button  class="food-cat-btn" (click)="foodItemsAddToCart(f_item)" nbButton outline status="success">{{f_item.name}}</button>
            </div>
        </nb-card-body>
      </nb-card>

</div>

<!-- Food Items End -->



<!-- Cart Start  -->
<div class="col-md-5" *ngIf="foodItems_Added_In_Cart?.length > 0">

  <nb-card [size]="'small'" accent="danger" class="own-scroll">
      <nb-card-header>
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
      </nb-card-header>
      <nb-list>
          <nb-list-item *ngFor="let cart of foodItems_Added_In_Cart" [ngStyle]="{'padding' : '1.1rem'}">
            <div class="row">
              <div class="col-md-9">
                  <div>
                      <h5>{{cart.name}}</h5>
                      <div class="row">
                        <div class="col-md-6">
                            <p>Unit Price: {{cart.price | currency:'INR'}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>Qty: 
                                <span style="padding: 2px 10px;">
                                    <span style="margin-right:5px; cursor: pointer;" (click)="toChangeQty(cart.id,'plus')"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                         {{cart.qty}}
                                    <span style="margin-left:5px; cursor: pointer;" [class.disabled]="cart.qty == 1" (click)="toChangeQty(cart.id, 'minus')"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                </span>
                            </p>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <button style="cursor: pointer;" nbButton outline (click)="deleteFoodItem_FromCart(cart)" status="danger"><i class="fa fa-times" aria-hidden="true"></i></button>
              </div>
            </div>
        </nb-list-item>
      </nb-list>
    </nb-card>

</div>
</div>

<!-- Cart End -->


<!-- Footer start  -->

<div class="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 text-right">
                    <button nbButton (click)="payment()" size="large" outline status="danger">Payment Mode</button>
                    <button nbButton (click)="discount()" size="large" outline status="danger">Discount</button>
                    <button nbButton (click)="printBillToCustomer()" [disabled]="!paymentMode" size="large" outline status="danger">Print Bill</button>
                </div>
                     <div class="col-md-5">
                         <input  type="button" nbButton size="large" [value]="totalPrice |currency:'INR'" status="success">
                     </div>
                 </div>
        </div>
    </div>
</div>

<!-- Footer End -->


<!-- Start the Bill Print -->

 <div id="printBill" *ngIf="foodItems_Added_In_Cart?.length > 0" style="visibility: hidden;">

    <div style="text-align: center">
        <h3>{{gs.shop_name}}</h3>
        <p>{{gs.address}}</p>
        <p>{{gs.mobile}}</p>
    </div>

    
        <p >{{ dateTime }}</p>
    
        <h2 style=" width: 100%; 
                    text-align: center; 
                    border-bottom: 1px solid #000; 
                    line-height: 0.1em;
                    margin: 10px 0 20px;">
    
            <span style="background:#fff; 
                         padding:0 10px; ">
                         Order List
            </span>
        </h2>
    
        <table style="width: 100%;  border: 1px solid black;
            border-collapse: collapse; margin-top: 30px;">
            <tr>
              <th style=" border: 1px solid black;
              border-collapse: collapse;">Item name</th>
              <th style=" border: 1px solid black;
              border-collapse: collapse;">Qty</th>
               <th style=" border: 1px solid black;
               border-collapse: collapse;">Per Unit Price</th>
               <th style=" border: 1px solid black;
               border-collapse: collapse;">Price</th> 
            </tr>
            <tr *ngFor="let pt of foodItems_Added_In_Cart"> 
              <td style=" border: 1px solid black;
              border-collapse: collapse; font-size: 22px; padding-left: 10px;">{{pt.name}}</td>
    
              <td style=" border: 1px solid black;
              border-collapse: collapse; text-align: center; font-size: 22px;">{{pt.qty}}</td> 

              <td style=" border: 1px solid black;
              border-collapse: collapse; text-align: center; font-size: 22px;">{{pt.price | number: '1.0-2'}}</td> 

             <td style=" border: 1px solid black;
              border-collapse: collapse; text-align: center; font-size: 22px;">{{pt.qty * pt.price | number: '1.0-2'}}</td>

            </tr>
        </table>
    
        <p style="width: 100%; border-top: 3px solid; margin-top: 20px;"></p>

        <p style="font-size: 20px ;"><span style="float: left; font-weight: 700; padding-left: 20px;">Total Items</span> <span style="float: right; font-weight: 700; padding-right: 40px;">{{ foodItems_Added_In_Cart.length }}</span></p> <br />
        
        <p style="width: 100%; border-top: 3px solid; margin-top: 20px;"></p>
        <p style="font-size: 20px ;"><span style="float: left; font-weight: 700; padding-left: 20px;">Total Price</span> <span style="float: right; font-weight: 700; padding-right: 40px;">{{ totalPrice | currency:'INR'}}</span></p>
        
        <div style="margin-top: 60px; text-align: center"> <br />
            <p>**THANK YOU & VISIT AGAIN**</p>
        </div>
    </div> 

<!-- End the Bill Print -->