<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xlarge">
  <nb-card-header>
    Invoice List
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings"  [source]="source" (custom)="print($event)" (editConfirm)="onEditConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>