button {
    width: 100%;
    height: 80px;
    font-size: 0.85rem !important;
    text-align: center;
    cursor: pointer !important;
}

button i {
    font-size: 2.4rem;
    padding-bottom: 0.2em;
}

.margin-top {
    margin-top: 2em;
}