<div class="row">
  <div class="col-md-6">
    <nb-card accent="info">
      <nb-card-header>
        Short Cut Keys
      </nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-md-4">
              <button nbButton (click)="generalSetting()" hero status="primary">
                <i class="fas fa-cog"></i> <br>
                <span>General Setting</span> 
                </button>
            </div>

            <div class="col-md-4">
              <button nbButton (click)="goCustomer()" hero status="success">
                <i class="fas fa-users"></i> <br>
                <span>Customers</span>
              </button>
            </div>

            <div class="col-md-4">
              <button nbButton (click)="goItems()" hero status="info">
                <i class="fas fa-barcode"></i> <br>
                <span>Items</span> 
              </button>
            </div>

            <div class="col-md-4 margin-top">
              <button nbButton (click)="goStaff()" hero status="warning">
                <i class="fas fa-user-shield"></i> <br>
                <span>Staff</span> 
              </button>
            </div>
            
            <div class="col-md-4 margin-top">
              <button nbButton (click)="goInvoice()" hero status="danger">
                <i class="fas fa-file-invoice-dollar"></i> <br>
                <span>Invoice</span>
              </button>
            </div>

            <div class="col-md-4 margin-top">
              <button nbButton (click)="goUsers()" hero status="primary">
                <i class="fas fa-user-circle"></i> <br>
                <span>Users</span>
              </button>
            </div>

            <div class="col-md-4 margin-top">
              <button nbButton (click)="goServiceCat()" hero status="success">
                <i class="fas fa-rss-square"></i> <br>
                <span>Service Category</span>
              </button>
            </div>

            <div class="col-md-4 margin-top">
              <button nbButton (click)="goResources()" hero status="info">
                <i class="fas fa-bullseye"></i> <br>
                <span>Resources</span>
              </button>
            </div>

            <div class="col-md-4 margin-top">
              <button nbButton (click)="goMessage()" hero status="warning">
                <i class="fas fa-envelope"></i> <br>
                <span>Message</span>
              </button>
            </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-6">
    <nb-card accent="warning">
      <nb-card-header>
        Report
      </nb-card-header>
      <nb-card-body>
        <div class="row">

            <div class="col-md-4">
              <button nbButton (click)="goSales()" hero status="primary">
                <i class="fas fa-chart-line"></i> <br>
                <span>Sales</span> 
              </button>
            </div>

            <div class="col-md-4">
                <button nbButton (click)="goAppointment()" hero status="warning">
                    <i class="fas fa-tasks"></i> <br>
                    <span>Appointment</span> 
                </button>
            </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>