<div class="row">
    <div class="col-md-12">
        <nb-card accent="info">
                <nb-card-header>
                    Common Setting
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-6 form-component">
                            <form>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="shopname">Shop Name <span>*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="general_setting.shopname" name="shopname" nbInput fullWidth placeholder="Shop Name">
                                    </div>
                                </div>


                                <div class="row margin-top">
                                    <div class="col-md-3">
                                        <label for="mobile">Mobile <span>*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="tel"  [(ngModel)]="general_setting.mobile" name="mobile" nbInput fullWidth placeholder="Mobile">
                                    </div>
                                </div>


                                <div class="row margin-top">
                                    <div class="col-md-3">
                                        <label for="address">Address <span>*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="general_setting.address" name="address" nbInput fullWidth placeholder="Address">
                                    </div>
                                </div>


                                <div class="row margin-top">
                                    <div class="col-md-3">
                                        <label for="pincode">Pin Code <span>*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="general_setting.pincode" name="pincode" nbInput fullWidth placeholder="Pin Code">
                                    </div>
                                </div>


                                <div class="row margin-top">
                                    <div class="col-md-3">
                                        <label for="website">Website </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="general_setting.website" name="website" nbInput fullWidth placeholder="Website">
                                    </div>
                                </div>
                                

                                <div class="row margin-top form-component">
                                    <div class="col-md-9">
                                        <button nbButton [disabled]="!general_setting.shopname && !general_setting.mobile && !general_setting.address && !general_setting.pincode" fullWidth (click)="updateGeneralSetting()" status="info">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nb-card-body>
        </nb-card>
    </div>
</div>