
    <mwl-demo-utils-calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate">
    </mwl-demo-utils-calendar-header>
    
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event)"
      >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event)"
        >
      </mwl-calendar-week-view>

      <mwl-calendar-day-view
      *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [hourSegments]="4"
        [dayStartHour]="11"
        [dayEndHour]="23"
        [events]="events"
        (click)="openModal($event)"
        (eventClicked)="eventClicked($event)"
        >
      </mwl-calendar-day-view>
    </div>


    <div [nbSpinner]="loadingModal" nbSpinnerStatus="danger" class="row" class="appoinment-form-fill" *ngIf="isHiddenFillApponment">

      <div class="col-md-12">

        <div class="row">

          <div class="col-md-3">
            <div class="cust-div">

              <nb-card accent="danger">
                  <nb-card-body>
                      <nb-actions *ngIf="!isSelectCustomer; else selectedCust">
                              <nb-action><input #searchCust (keyup)="searchCustomer(searchCust.value)" nbInput [ngStyle]="{'margin-top': '-10px'}" placeholder="Search Customer..."></nb-action>
                              <nb-action><i (click)="openAddCustomerModal()" class="fa fa-user-plus" aria-hidden="true"></i></nb-action>
                      </nb-actions>
                      <ng-template #selectedCust>
                          <nb-actions>
                              <nb-action><input nbInput [value]="selectedCustomerData.name" [ngStyle]="{'margin-top': '-10px'}"></nb-action> 
                              <nb-action><i (click)="removeSelectedCustomer()" class="fa fa-times" aria-hidden="true"></i></nb-action>
                          </nb-actions>
                      </ng-template>
                  </nb-card-body>
              </nb-card>
      
              <nb-card *ngIf="customerList.length > 0" size="small" class="searched-customer-list" [style.max-height.px]="230">
                  <nb-list>
                    <nb-list-item (click)="selectCustomerFromSearchFilter(customerL)" [ngStyle]="{'cursor':'pointer'}" *ngFor="let customerL of customerList">
                        <h6>{{ customerL.name }}</h6>
                        <p>Mob - {{ customerL.mob }}</p>
                        <p>Email - {{ customerL.email }}</p>
                    </nb-list-item>
                  </nb-list>
              </nb-card>


              <!-- Text Area -->

              <textarea rows="7" nbInput fullWidth shape="round" status="danger" placeholder="Enter Comment"></textarea>

            </div>
          </div>
          
          <div class="col-md-4">
            <div class="cust-div">
              <nb-card [ngStyle]="{'height':'300px'}">
                <nb-card-body [ngStyle]="{'padding':'0'}">
                  
                  <nb-tabset>
                    <nb-tab tabTitle="Services">
                        <select class="form-control margin-t-b" [(ngModel)]="selectedResource">
                            <option value="0">-- Select Resources --</option>
                            <option *ngFor="let resourcesL of resourcesList" [value]="resourcesL.id">{{ resourcesL.res_name }}</option>
                        </select>

                        <select class="form-control margin-t-b" [(ngModel)]="selectedStaff">
                            <option value="0">-- Select Staff --</option>
                            <option *ngFor="let staffL of staffList" [value]="staffL.id">{{ staffL.staff_name }}</option>
                        </select>

                        <ng-container *ngIf="!isSelectService; else selectedServ">
                          <input #searchSer (keyup)="searchService(searchSer.value)" fullWidth nbInput placeholder="Search Services...">
                        </ng-container>

                        <ng-template #selectedServ>
                              <input nbInput fullWidth [value]="selectedServiceData.item_name"> 
                              <i (click)="removeSelectedService()" class="fa fa-times ser_close_icn" aria-hidden="true"></i>
                        </ng-template>
                        
                        <nb-card *ngIf="serviceList.length > 0" size="small" class="searched-service-list" [style.max-height.px]="230">
                            <nb-list>
                              <nb-list-item (click)="selectServiceFromServiceList(serviceL)" [ngStyle]="{'cursor':'pointer'}" *ngFor="let serviceL of serviceList">
                                  <h6>{{ serviceL.item_name }}</h6>
                              </nb-list-item>
                            </nb-list>
                        </nb-card>
                        
                        <div class="row">
                            <div class="col-md-6 min">
                              <input [ngStyle]="{'text-transform':'uppercase'}" class="margin-t-b" [(ngModel)]="selectedBookTime" [ngxTimepicker]="picker" fullWidth nbInput>
                              <i class="far fa-clock"></i>
                                <ngx-material-timepicker #picker></ngx-material-timepicker>
                            </div>
                            <div class="col-md-6">
                                <input class="margin-t-b"  [(ngModel)]="setServiceDuration" fullWidth nbInput>
                                <span class="minute">Min</span>
                            </div>
                        </div>
                        
                        <button class="margin-t-b" (click)="pushInAppoinmentDetails()" [disabled]="!selectedCustomerData.hasOwnProperty('name') || !selectedResource || !selectedStaff || !selectedServiceData.hasOwnProperty('item_name') || !selectedBookTime || !setServiceDuration" [ngStyle]="{'float':'right'}" nbButton status="danger">Add</button>

                    </nb-tab>

                    <nb-tab tabTitle="Packages">
                      <!-- <p>List of <strong>orders</strong>.</p> -->
                    </nb-tab>

                  </nb-tabset>
                  
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          
          <div class="col-md-5">

            <div class="col3-head">
              <i class="far fa-calendar-alt margin-l-r"></i>
              <input #datepick class="margin-l-r" [ngStyle]="{'text-align':'center'}" status="danger" nbInput placeholder="Form Picker" (ngModelChange)="onAppoinmentDateChange(datepick.value)" [nbDatepicker]="ngmodel" [(ngModel)]="viewDate">
              <nb-datepicker #ngmodel></nb-datepicker>
              <nb-checkbox class="margin-l-r" status="warning">Print</nb-checkbox>
              <button class="margin-l-r" [disabled]="!this.commonService.appointment_details.length > 0" (click)="saveAppoinment()" nbButton status="danger">Save</button>
              <button class="margin-l-r" (click)="onCloseBtn()" nbButton outline status="danger">Cancel</button>
            </div>

             <nb-card *ngIf="appoinment_cart.length > 0" [ngStyle]="{'margin-top':'50px', 'width':'100%', 'border':'none', 'border-radius':'0'}">
                <nb-list>
                    <nb-list-item *ngFor="let cart of appoinment_cart">
                      <div class="row">
                        <div class="col-md-9">
                            <div>
                                <h5>{{cart.name}}</h5>
                                <div class="row">
                                  <div class="col-md-12">
                                      <p>Service:  {{cart.serviceDetails.item_name}}</p>
                                  </div>
                                  <div class="col-md-3">
                                    <span> <i class="fa fa-user" aria-hidden="true"></i>{{cart.staff_name}}</span>
                                  </div>
                                  <div class="col-md-2">
                                    <span>{{cart.serviceDetails.price | currency:'INR'}}</span>
                                  </div>
                                  <div class="col-md-6">
                                      <i class="fas fa-clock"></i>  <span>{{ cart.servicing_startTime | uppercase }} </span> - 
                                      <i class="fas fa-clock"></i> <span> {{ cart.servicing_endTime | uppercase }}</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" [ngStyle]="{'text-align':'right'}">
                            <button style="cursor: pointer;" nbButton outline (click)="deleteAppoinment_Cart(cart)" size="small" status="danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                      </div>
                  </nb-list-item>
                </nb-list>
             </nb-card>
             
          </div>

        </div>

      </div>

    </div>