.appoinment-form-fill {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #675CB2;
    z-index: 999;
    height: 300px;
}

.fa-user-plus, .fa-times {
  font-size: 1.8em;
}

.col3-head {
    float: right;
    margin-top: 4px;
    margin-bottom: 10px;
}

.fa-calendar-alt {
    position: absolute;
    top: 0.3em;
    font-size: 2.2em;
    padding-left: 0.15em;
    color: #fff;
}

.margin-l-r {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.margin-t-b {
    margin: 0.3em 0;
}
.cust-div {
 margin-top: 0.8em; 
}

:host nb-tab {
    padding: 0.3rem 1.25rem;
}

select {
    height: 2.8em !important;
}

.min .fa-clock {
    position: absolute;
    top: 0.25em;
    right: 1em;
    font-size: 1.3em;
    border-left: 1px solid #908DC7;
    line-height: 40px;
    padding: 0 10px
}

.minute {
    position: absolute;
    right: 1em;
    font-size: 1.2em;
    top: 0.3em;
    border-left: 1px solid #908DC7;
    padding: 10px;
}

.searched-customer-list {
    position: absolute;
    width: 91%;
    z-index: 999;
    margin-top: -1.3em;
  }

  .searched-service-list {
    position: absolute;
    width: 91.7%;
    z-index: 999;
    margin-top: 0.05em;
  }

  .ser_close_icn {
    position: absolute;
    right: 1em;
    margin-top: 0.3em;
  }

  .fa-user-plus {
    cursor: pointer;
  }
