<div class="row">
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-clock"></i>
                </div>
                Last Login
            </nb-card-header>
            <nb-card-body>
                {{ currentUser.last_login }}
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-sticky-note"></i>
                </div>
                My Plan
            </nb-card-header>
            <nb-card-body *ngIf="currentUser.trial_plan == 1; else notTrial">
                30 Days Trial
            </nb-card-body>
            <ng-template #notTrial>
                <nb-card-body>
                   Full Version
                </nb-card-body>
            </ng-template>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-calendar-alt"></i>
                </div>
                Plan Start
            </nb-card-header>
            <nb-card-body>
               {{currentUser.plan_start}}
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-calendar-alt"></i>
                </div>
                Plan End
            </nb-card-header>
            <nb-card-body>
                {{currentUser.plan_end}}
            </nb-card-body>
        </nb-card>
    </div>
</div>
